input.error {
  border: 1px solid #d60000;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #d60000 ;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 100%; 
  max-width: 600px; 
  height: 80%;
  max-height: 610px;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; 
}

.formGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%; 
}

label {
  color: #474444;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.9rem;
  font-family: "Poppins";
  text-align: right;
  width: 40%;
}

input {
  width: 65%;
  max-width: 388px;
  height: 4vh;
  border-radius: 10px 10px 0 0;
  border: 1px solid #f4f4f4;
  padding: 0.5rem;
  background-color: #f4f4f4;
  margin-left: 2.5vw;
  font-family: "Poppins";
  font-size: 1rem;
  line-height: 1rem;
  color: #474444;
}
.errorMessage{
  color: #d60000;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
}

button {
  width: 35vw;
  max-width: 274px;
  height: 4vh;
  max-height: 38px;
  border-radius: 8px;
  background-color: #b4b9ee;
  color: #474444;
  cursor: pointer;
  border: none;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 2rem;
  margin-top: 1rem;
}
