
input.error {
    border-radius: 10px 10px 0px 0px;
    border: 1px solid #d60000;
    color: #d60000;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
  }
  
  
  .registerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 100%; 
    max-width: 600px; 
    height: 80%;
    max-height: 610px;
    margin: auto;
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; 
  }
  
  .formGroup {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%; 
  }
  
  label {
    color: #474444;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    font-family: "Poppins";
    text-align: right;
    width: 40%; 
  }
  
  input {
    max-width: 388px;
    width: 75%; 
    height: 4vh; 
    border-radius: 10px 10px 0 0;
    border: 1px solid #f4f4f4;
    padding: 0.5rem;
    background-color: #f4f4f4;
    margin-left: 1.5vw;
    font-family: "Poppins";
    font-size: 15px;
    line-height: 15px;
  }
  
  .btn {
    max-width: 274px;
    width: 35vw;
    max-height: 38px;
    height: 4vh; 
    border-radius: 8px;
    background-color: #b4b9ee;
    color: #474444;
    cursor: pointer;
    border: none;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-top: 1rem; 
  }
  .errorMessage{
    color: #d60000;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
  }