.overlay {
    position: fixed;
    inset: 0;
    background: rgba(29, 28, 28, 0.886);
  }
  
  .mainContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .authContainer {
    width: 40%;
    height: 60%;
    background: white;
    border-radius: 15px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.18);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
  }
  .title {
    font-family: "Jomhuria";
    color: #b4b9ee;
    font-size: 4rem; 
    line-height: 3rem;
    margin-bottom: 1rem;
  }
  .authButton{
      display: flex;
      flex-direction: row;
  }
  .authButton button{
      width: 13rem;
      height: 3rem;
      color: black;
      background-color: #ffffff;
      border: none;
      border-radius: 0.6rem;
      cursor: pointer;
      margin-left: 2rem;
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      font-family: "Poppins";
  }
  
  .authButton button.active {
    box-shadow: 0px 0px 50px 0px rgba(0, 25, 255, 0.24);
  }
  