/* src/components/Dashboard/Header.module.css */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #2d3037;
    color: white;
    top: 0;
    width: 100%;
    box-sizing: border-box;
  }
  
  .brand {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
  }
  .links{
    display: flex;
    gap: 3vw;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
  }
  .links a {
    margin: 0 1rem;
    text-decoration: none;
    color: white;
  }
  
  .logout {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background-color: #2d3037;
  } 
  