.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    background-color: #000000;
    color: white;
    top: 0;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    
  }
  .brand{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    gap: 10px;
  }
  .logo{
    width: 30px;
    height: 30px;

  }
  .title {
    color: white;
    text-decoration: none;
    font-size: 28px;
    font-weight: bolder;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .links{
    display: flex;
    gap: 4vw;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
  .links a {
    margin: 0 1rem;
    text-decoration: none;
    color: white;
  }
  
  .popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .popupContent {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
  }
  .btn{
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
  }